[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=RS Classic
Comment=Runescape Classic Sailfish OS port
Icon=rsc-c
Exec=/usr/bin/rsc-c
Terminal=false
Categories=Game;AdventureGame;RolePlaying;
X-Nemo-Application-Type=generic
X-Nemo-Orientation=landscape
[X-Sailjail]
Permissions=Internet;Audio
OrganizationName=org.malmi
ApplicationName=rsc-c
